<template>
  <q-page class="flex flex-center">
    <div class="container">
        <div><img class="img__header" src="https://cdn.shopify.com/s/files/1/0171/4626/files/marvelheader.jpg?660475947544379858" alt=""></div>
        <p>Name: Lesly Guadalupe Contreras Ojeda</p>
        <p>Age: 17 years old</p>
        <p>Email: leslycont2204@gmail.com</p>
        <h5>Made with: <span>https://developer.marvel.com/</span></h5>
    </div>
  </q-page>
</template>

<style>
    body {
        background-color: #e2e2e2;
    }
    .container {
        font-size: 20px;
        text-align: center;
    }
    span {
        color: #250207;
    }
    .img__header {
        margin: 0 auto;
        display: block;
        width: 80vw;
        height: 20vh;
        text-align: center;
    }
</style>

<script>
export default {
  name: 'PageIndex'
}
</script>
